<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Eui-jae.css">
</head>
<body>
<div>
    <button id="z">Создать </button>
    Аватарка:<input id="q">
    Имя:<input id="w">
    Телефон:<input id="e">
    Email:<input id="r">
    Дата рождения:<input id="t">
</div>

<div class="users-list" id="users-list">
    <div class="user-card">
        <div class="user-avatar">
            <img src="https://i.pinimg.com/736x/b5/67/41/b567418360aebaca2157daed2e7cb6a7.jpg" alt="Фотография пользователя">
        </div>

        <h2 class="user-name">
            J
        </h2>

        <p><b>Телефон:</b> +7 (777) 777-77-77</p>

        <p><b>Email:</b> J.firstInKorea@mail.ru</p>

        <p><b>Дата рождения: </b> 21.01.2024</p>
    </div>
</div>
<script src="Eui-jae.js"></script>
</body>
</html>