<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEEE!!!</title>
    <link rel="stylesheet" href="bee.css">
</head>
<body>
<header class="header">
<nav class="nav">
    <ul>
        <li>Main</li>
        <li>About us</li>
        <li>Our Products</li>
        <li>Info</li>
        <li>Contacts</li>
    </ul>
</nav>
</header>
<h1>Honey Sale</h1>
<div class="de">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna ante, egestas ac nibh sit
    amet, vehicula posuere quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
    pretium consequat volutpat. Integer ultricies ligula eget arcu volutpat vehicula. Sed et congue nisi, ac
    cursus ex. Duis tempus arcu magna, quis auctor odio congue in. Duis nunc leo, tempor nec dignissim sed,
    euismodvel nibh.
</div>
<img src="https://avatars.mds.yandex.net/i?id=ef54be8007ecdcee1488da536ba56edebfdb8651-10577272-images-thumbs&n=13" width="900">
</body>
</html>