body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /*высота на весь экран*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87509c;
    color: white;
    padding-top: 10px;/*Внутренний отступ */
    padding-bottom: 10px;/*Внутренний отступ*/
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none; /*Без нижнего подчёркивания*/
}

.navigation ul {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none; /*убираем точки из списка ul*/

}

.navigation li {
    margin-right: 40px;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: #17c2a4;
    color: white;
}

.main h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.main button {
    width: 200px;
    height: 50px;
    background-color: #87509c;
    color: #ffffff;
    border: none; /*Без рамки*/
    cursor: pointer; /*Палец при нваедении*/
}

.main button:hover {
    background-color: #344b8e;
}

.footer {
    background-color: #344b8e;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
}