<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ООО РОМАШКА</title>
  <link rel="stylesheet" href="yo.css">
</head>
<body>
<div class="container">
  <!--Шапка сайта-->
  <header class="header">
    <a href="" class="logo">РОМАШКА</a>

    <!--Навигация-->
    <nav class="navigation">
      <ul>
        <li> Главная</li>
        <li>О нас</li>
        <li>Контакты</li>
      </ul>
    </nav>
  </header>
  <main class="main">

    <!--Главная информация-->
    <h1>Добро пожаловать на сайт ООО РОМАШКА</h1>
    <button>Купить ромашки</button>
  </main>

  <!--Подвал сайта-->
  <footer class="footer">
    ООО РОМАШКА, 2024. Все права защищены.
  </footer>
</div>
</body>
</html>