<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Калькулятор</title>
</head>
<body>
    <h1>Калькулятор</h1>

    <div>
        Первое число:
        <span id="first">-</span>
    </div>

    <div>
        Второе число:
        <span id="second">-</span>
    </div>

    <h2>Результаты:</h2>

    <div>
        Сумма:
        <span id="summa">-</span>
    </div>

    <div>
        Разность:
        <span id="raznost">-</span>
    </div>

    <div>
        Произведение:
        <span id="proizvedenie">-</span>
    </div>

    <div>
        Частное:
        <span id="chastnoe">-</span>
    </div>

    <script src="hhh.js"></script>

</body>
</html>