body {
    background: #1F5768;
    height: 98vh; /* Р’С‹СЃРѕС‚Р° 98% РѕС‚ РІС‹СЃРѕС‚С‹ РѕРєРЅР° Р±СЂР°СѓР·РµСЂР° */
}

.pond {
    display: flex; /*Флекс-контейнер*/
   /* flex-direction: row; /*Основаная ось*/
   /* flex-direction: column;/* основная ось по вертекали*/
   /* flex-direction: row-reverse;/*По горезонтали в обратоном проядке*/
   /* flex-direction: column-reverse; /*По вертикали в обратном порядке*/
   /* justify-content: flex-start; /*Расположение элементов по главной оси*/
   /* justify-content: center; /*Расположение элементов по центру*/
    /*justify-content: flex-end; /*Расположение элементов с правого края*/
   /* justify-content: space-around; /*Расположение элементов по краям */
   /* justify-content: space-between; /*Расположение элементов по краям*/
   /* align-items: flex-start; /*Расположение элементов по поперечной оси*/
   /* align-items: center; /*Расположение по центру по поперечной оси*/
   /* align-items: flex-end; /*Рсаположение элементов по низу поперечной оси*/
    /*flex-wrap: nowrap; /*Не переносить элементы на новую строку*/
    flex-wrap: wrap; /*Переносить элементы на новую строку*/
    /*align-content: flex-start; /*Выравнивание контента по центру*/
    /*align-content: flex-end; /*Выравнивание контента по низу*/
   /* align-content: space-between;/*Выравнивание контента растянуто*/
   /* align-content: space-around;/*выпавнивание контента растянуто с отступами*/
   /* height: 100%;*/
}

.frog {

}

.green {
    order: 3; /*Порядок отображения элемента*/
}

.yellow {
    order: 1;
}

.red {
    order: 2;
   /* align-self: center; /*Выравнивание отдельного элемента по центру*/
   /* align-self: flex-start; /*Выравнивание отдельного элемента*/
   /* align-self: flex-end; /*Выравнивание отдельного элемента по низу*/
}