.dwe {
    width: 200px;
    height: 130px;
    background-color: red;
}

.asd {
    width: 200px;
    height: 90px;
    background-color: darkred;
}

.hwe {
    width: 200px;
    height: 130px;
    background-color: orange;
}

.ssd {
    width: 200px;
    height: 90px;
    background-color: saddlebrown;
}
.ewe {
    width: 200px;
    height: 130px;
    background-color: lightgreen;
}

.aad {
    width: 200px;
    height: 90px;
    background-color: darkgreen;
}

.qwe {
    width: 200px;
    height: 130px;
    background-color: lightskyblue;
}
.qsd {
    width: 200px;
    height: 90px;
    background-color: darkslategrey;
}