<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="annexch.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <title>Фильм</title>
</head>
<body>
<header class="container">
    <div class="header__content">
        <a href="xch.html" class="header__logo">Кинопоиск (ну, почти)</a>
    </div>
</header>
<div class="container">
    <div class="movie">
        <div class="movie__cover">
            <img
                    src="https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/fb35416f-3b0d-4b96-bc65-cf6923f9e329/360"
                    alt="Обложка фильма"
            >
        </div>

        <div class="movie__content">
            <h1 class="movie__title">Во все тяжкие</h1>

            <p class="movie__description">
                Школьный учитель химии Уолтер Уайт узнаёт, что болен раком лёгких. Учитывая сложное финансовое состояние
                дел семьи, а также перспективы, Уолтер решает заняться изготовлением метамфетамина. Для этого он
                привлекает своего бывшего ученика Джесси Пинкмана, когда-то исключённого из школы при активном
                содействии Уайта.
                Пинкман сам занимался варкой мета, но накануне, в ходе рейда УБН, он лишился подельника и лаборатории.
            </p>

            <div class="movie__properties">
                <div class="movie__property">
                    <div class="movie__label">
                        Год производства
                    </div>

                    <div class="movie__value">
                        2008
                    </div>
                </div>

                <div class="movie__property">
                    <div class="movie__label">
                        Страны
                    </div>

                    <div class="movie__value">
                        США
                    </div>
                </div>

                <div class="movie__property">
                    <div class="movie__label">
                        Жанры
                    </div>

                    <div class="movie__value">
                        триллер, драма, криминал
                    </div>
                </div>

                <div class="movie__property">
                    <div class="movie__label">
                        Время серии
                    </div>

                    <div class="movie__value">
                        47 мин
                    </div>
                </div>

                <div class="movie__property">
                    <div class="movie__label">
                        Рейтинг Imdb
                    </div>

                    <div class="movie__value">
                        9.5
                    </div>
                </div>

                <div class="movie__property">
                    <div class="movie__label">
                        Рейтинг Кинопоиск
                    </div>

                    <div class="movie__value">
                        8.9
                    </div>
                </div>
            </div>

            <a
                    href="https://www.kinopoisk.ru/series/404900/"
                    class="movie__button"
            >
                Смотреть
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="annexch.js"></script>
</body>
</html>