* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a191f;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 40px;
}

.header__logo {
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
}

.header__search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
    width: 240px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.movie {
    width: 240px;
    position: relative;
}

.movie__cover-inner {
    position: relative;
    height: 360px;
}

.movie__cover {
    max-width: 100%;
    height: 100%;
}

.movie__info {
    padding: 10px 0;
}

.movie__title {
    font-size: 16px;
    color: #ffffff;
}

.movie__titles {
    font-size: 16px;
    color: #ffffff;
}

.movie__category {
    font-size: 14px;
    color: #ffd80e;
}

.movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
}

.movie__average--green {
    border: 1px solid green;
}

.movie__average--orange {
    border: 1px solid orange;
}

.movie__average--red {
    border: 1px solid red;
}

.pages {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 40px;
}

.page {
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
}

.page.active {
    background: white;
    color: #000000;
}