<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="button">Сказать "Меее мее"</button>

    <h1>Калькулятор</h1>
    <div>
        <label for="first">Первое число</label>
        <input type="text" id="first">
    </div>
    <div>
        <label for="second">Первое число</label>
        <input type="text" id="second">
    </div>
    <button id="sum-button">Найти сумму</button> 
    <p>Сумма чисел: <span id="sum">-</span></p>
    <script src="ayf.js">

    </script>
</body>
</html>