<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="тан.css">
</head>
<body>
<button id="q">Очистить всё</button>
<div>
    <input type="text" id="d1">
    <button id="we">Добавить чётонепонятноеблюе</button>
</div>
<div class="blocks">
    <div class="blue" id="z"></div>
    <div class="green" id="x"></div>
    <div class="red" id="c"></div>
</div>
<div>
    <button id="r">Объединение</button>
    <span id="t"></span>
</div>
<script src="тан.js"></script>
</body>
</html>