<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="q">Очистить всё</button>
<div>
    <input type="text" id="d1">
    <button id="we">Добавить текст</button>
    <span id="span1"></span>
</div>
<div>
    <input type="text" id="d2">
    <button id="qw">Добавить текст</button>
    <span id="span2"></span>
</div>
<div>
    <input type="text" id="d3">
    <button id="w">Добавить текст</button>
    <span id="span3"></span>
</div>
</body>
</html>